# Basic Helm Chart used to test Cypress in Pipeline

replicaCount: 1

image:
  repository: "registry1.dso.mil/ironbank/opensource/nginx/nginx"
  pullPolicy: Always
  tag: "1.29.3"

imagePullSecrets:
  - name: private-registry
nameOverride: ""
fullnameOverride: ""

podAnnotations: {}

podSecurityContext: {}

securityContext: {}

service:
  type: ClusterIP
  port: 80

resources:
  limits:
    cpu: 100m
    memory: 2048Mi
  requests:
    cpu: 100m
    memory: 1024Mi

nodeSelector: {}

tolerations: []

affinity: {}

bbtests:
  enabled: true
  scripts:
    permissions:
      apiGroups:
        - ""
      resources:
        - configmaps
      verbs:
        - create
        - delete
        - list
        - get
  cypress:
    artifacts: true
    disableDefaultTests: false

waitJob:
  enabled: true
  permissions:
    apiGroups:
      - ""
    resources:
      - pods
    verbs:
      - create
      - delete
      - list
      - get
      - watch
