{{- define "gluon.cypress.testedPackage" -}}
{{- default "" .Values.bbtests.cypress.pathNameOverride | trunc 63 | trimSuffix "-"}}
{{- end }}

{{- define "gluon.tests.cypress-runner.tpl" }}
{{- if ne false ((.Values.bbtests).cypress).enabled }}

---
kind: Pod
apiVersion: v1
metadata:
  name: "{{ .Release.Name }}-cypress-test"
  namespace: {{ .Release.Namespace }}
  annotations:
    "helm.sh/hook": test-success
    "helm.sh/hook-weight": "5"
    {{- /*
      Defaults: https://github.com/istio/istio/blob/master/manifests/charts/istio-control/istio-discovery/values.yaml#L362-L369 
    */}}
    {{- with ((.Values.bbtests.istio).sidecar).resources }}
    {{- if .cpu }}
    {{- if .cpu.requests }}
    "sidecar.istio.io/proxyCPU": {{ .cpu.requests | quote }} # Default: 100m
    {{- end }}
    {{- if .cpu.limits }}
    "sidecar.istio.io/proxyCPULimit": {{.cpu.limits | quote }} # Default: 2000m
    {{- end }}
    {{- end }}
    {{- if .memory }}
    {{- if .memory.requests }}
    "sidecar.istio.io/proxyMemory": {{ .memory.requests | quote }} # Default: 128mi
    {{- end }}
    {{- if .memory.limits }}
    "sidecar.istio.io/proxyMemoryLimit": {{ .memory.limits | quote }} # Default: 1024mi
    {{- end }}
    {{- end }}
    {{- end }}
  labels:
    helm-test: enabled
spec:
  securityContext:
    runAsUser: 1000
    runAsGroup: 1000
    fsGroup: 1000
  {{- if .Values.bbtests }}
  {{- if .Values.bbtests.cypress }}
  {{- if .Values.bbtests.cypress.exports }}
  serviceAccountName: {{ .Release.Name }}-cypress-sa
  {{- end }}
  {{- end }}
  {{- end }}
  initContainers:
    - name: network-wait-online
      securityContext:
        capabilities:
          drop:
          - ALL
        readOnlyRootFilesystem: true
      image: {{ dig "image" "registry1.dso.mil/ironbank/big-bang/cypress:15.7.0" .Values.bbtests.cypress }}
      imagePullPolicy: IfNotPresent
      command:
      - "/bin/bash"
      - "-c"
      - |
        attempts=0
        until curl https://repo1.dso.mil > /dev/null; do
          attempts=$((attempts+1))
          if [ $attempts -ge 10 ]; then
            echo "Network is unreachable after 10 attempts, exiting."
            exit 1
          fi
          echo "Network is unreachable, retrying in 6 seconds..."
          sleep 6
        done
  containers:
    - name: {{ .Release.Name }}-cypress-test
      securityContext:
        capabilities:
          drop:
          - ALL
        readOnlyRootFilesystem: true
      image: {{ dig "image" "registry1.dso.mil/ironbank/big-bang/cypress:15.7.0" .Values.bbtests.cypress }}
      imagePullPolicy: IfNotPresent
      command:
      - "/bin/bash"
      - "-c"
      - |
        trap 'curl -s -X POST http://localhost:15000/quitquitquit || true' ERR
        export EXIT_CODE=0
        set -e
        {{- if .Values.bbtests.cypress.disableDefaultTests }}
          echo "Default tests have been disabled"
        {{- else }}
          cp /src/*.cy.js /test/cypress/e2e
        {{- end }}
        if [[ -d /custom ]]; then
          cp /custom/*.cy.js /test/cypress/e2e 
        fi
        if [[ -d /test/cypress/e2e && -n "$(ls /test/cypress/e2e/*.cy.js 2>/dev/null)" ]]; then
          wget -P /test/cypress/common https://repo1.dso.mil/big-bang/product/packages/gluon/-/raw/master/common/commands.js
          (npx cypress run --browser chrome --headless && export EXIT_CODE=$?) || export EXIT_CODE=$?
          {{- if .Values.bbtests }}
          {{- if .Values.bbtests.cypress }}
          {{- if .Values.bbtests.cypress.exports }}
          if kubectl get configmap -n {{ .Release.Namespace }} cypress-exports &>/dev/null; then
            kubectl delete configmap -n {{ .Release.Namespace }} cypress-exports
          fi
          kubectl create configmap -n {{ .Release.Namespace }} cypress-exports --from-file exports/
          {{- end }}
          {{- end }}
          {{- end }}
          {{- if .Values.bbtests }}
          {{- if .Values.bbtests.cypress }}
          {{- if .Values.bbtests.cypress.artifacts }}
          if [[ -n "$(ls /test/cypress/logs/* 2>/dev/null)" ]]; then
            echo "found cypress logs from the pod"
            mkdir -p /cypress/logs/{{ .Release.Namespace}}/{{ include "gluon.cypress.testedPackage" . }}
            mv /test/cypress/logs/* /cypress/logs/{{ .Release.Namespace}}/{{ include "gluon.cypress.testedPackage" . }}/
          else
            echo "no cypress logs found from the pod"
          fi
          if [[ -n "$(ls /test/cypress/screenshots/* 2>/dev/null)" ]]; then
            echo "found cypress screenshots from the pod"
            mkdir -p /cypress/screenshots/{{ .Release.Namespace}}/{{ include "gluon.cypress.testedPackage" . }}
            mv /test/cypress/screenshots/* /cypress/screenshots/{{ .Release.Namespace}}/{{ include "gluon.cypress.testedPackage" . }}/
          else
            echo "no cypress screenshots found from the pod"
          fi
          if [[ -n "$(ls /test/cypress/videos/* 2>/dev/null)" ]]; then
            echo "found cypress videos from the pod"
            mkdir -p /cypress/videos/{{ .Release.Namespace}}/{{ include "gluon.cypress.testedPackage" . }}
            mv /test/cypress/videos/* /cypress/videos/{{ .Release.Namespace}}/{{ include "gluon.cypress.testedPackage" . }}/
          else
            echo "no cypress videos found from the pod"
          fi
          {{- end }}
          {{- end }}
          {{- end }}
        fi
        curl -s -X POST http://localhost:15000/quitquitquit || true
        exit ${EXIT_CODE}
      volumeMounts:
        - name: commondir
          mountPath: /test/cypress/common
        - name: testdir
          mountPath: /test/cypress/e2e
        - name: cypress-tests
          mountPath: /src
        - name: tmpdir
          mountPath: /tmp
        - name: cypress-logs
          mountPath: /test/cypress/logs
        - name: screenshots
          mountPath: /test/cypress/screenshots
        - name: videos
          mountPath: /test/cypress/videos
        - name: logs
          mountPath: /home/node/.npm
        {{- if .Values.bbtests.cypress.customTest}}
        - name: custom-test
          mountPath: /custom
        {{- end}}
        {{- if .Values.bbtests }}
        {{- if .Values.bbtests.cypress }}
        {{- if .Values.bbtests.cypress.artifacts }}
        - name: cypress-artifacts
          mountPath: /cypress
        {{- end }}
        {{- end }}
        {{- end }}
        {{- if .Values.bbtests }}
        {{- if .Values.bbtests.cypress }}
        {{- with .Values.bbtests.cypress.additionalVolumeMounts }}
          {{- tpl (toYaml .) $ | nindent 8 }}
        {{- end }}
        {{- end }}
        {{- end }}
      env:
        - name: K8S_NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        - name: K8S_POD_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
        - name: XDG_CONFIG_HOME
          value: "/tmp"
        - name: cypress_gluon_version
          {{- $gluonVersion := "0.5.4" }}
          {{- range .Chart.Dependencies }}
            {{- if eq .Name "gluon" }}
              {{- $gluonVersion = .Version }}
            {{- end }}
          {{- end }}
          value: "{{ $gluonVersion }}"
      {{- if .Values.bbtests }}
      {{- if .Values.bbtests.cypress }}
      {{- if or .Values.bbtests.cypress.envs .Values.bbtests.cypress.secretEnvs }}
      {{- range $k, $v := .Values.bbtests.cypress.envs }}
        - name: {{ tpl $k $ }}
          value: {{ tpl $v $ | quote }}
      {{- end }}
      {{- if .Values.bbtests.cypress.secretEnvs }}
      {{- tpl (toYaml .Values.bbtests.cypress.secretEnvs) $ | nindent 8 }}
      {{- end }}
      {{- end }}
      {{- end }}
      {{- end }}
      resources:
      {{- if .Values.bbtests.cypress.resources }}
        requests:
          cpu: {{ .Values.bbtests.cypress.resources.requests.cpu | quote }}
          memory: {{ .Values.bbtests.cypress.resources.requests.memory | quote }}
        limits:
          cpu: {{ .Values.bbtests.cypress.resources.limits.cpu | quote }}
          memory: {{ .Values.bbtests.cypress.resources.limits.memory | quote }}
      {{- else }}
        requests:
          cpu: "2"
          memory: "4Gi"
        limits:
          cpu: "2"
          memory: "4Gi"
      {{- end }}
  restartPolicy: Never
  volumes:
    - name: cypress-tests
      configMap:
        name: "{{ .Release.Name }}-cypress-config"
    - name: tmpdir
      emptyDir: {}
    - name: commondir
      emptyDir: {}
    - name: testdir
      emptyDir: {}
    - name: cypress-logs
      emptyDir: {}
    - name: screenshots
      emptyDir: {}
    - name: videos
      emptyDir: {}
    - name: logs
      emptyDir: {}
    {{- if .Values.bbtests.cypress.customTest }}
    - name: custom-test
      configMap:
        name: "{{ .Values.bbtests.cypress.customTest }}"
    {{- end}}
    {{- if .Values.bbtests }}
    {{- if .Values.bbtests.cypress }}
    {{- if .Values.bbtests.cypress.artifacts }}
     {{- if and .Values.bbtests.cypress.persistence  .Values.bbtests.cypress.persistence.enabled  }}
    - name: cypress-artifacts
      persistentVolumeClaim:
        claimName: "{{ .Release.Name }}-cypress-pvc"
      {{- else }}
    - name: cypress-artifacts
      hostPath:
        path: "/cypress" 
      {{- end }}
    {{- end }}
    {{- end }}
    {{- end }}
    {{- if .Values.bbtests }}
    {{- if .Values.bbtests.cypress }}
    {{- with .Values.bbtests.cypress.additionalVolumes }}
      {{- tpl (toYaml .) $ | nindent 4 }}
    {{- end }}
    {{- end }}
    {{- end }}
  imagePullSecrets:
    - name: private-registry
{{- end }}
{{- end }}

{{- define "gluon.tests.cypress-runner.base" }}
{{- if .Values.bbtests }}
{{- if .Values.bbtests.enabled }}

{{- if .Values.bbtests.cypress }}
{{- if .Values.bbtests.cypress.exports }}
{{- include "gluon.tests.cypress-rbac" . | nindent 0 }}
{{- end }}
{{- end }}
{{- include "gluon.tests.cypress-netpol.tpl" . | nindent 0 }}
{{- include "gluon.tests.cypress-runner.tpl" . | nindent 0 }}
{{- end }}
{{- end }}
{{- end }}

{{- define "gluon.tests.cypress-runner.overrides" }}
{{- $values := (first .) }}
{{- if $values.Values.bbtests }}
{{- if $values.Values.bbtests.enabled }}
{{- if $values.Values.bbtests.cypress }}
{{- if $values.Values.bbtests.cypress.exports }}
{{- include "gluon.tests.cypress-rbac" $values | nindent 0 }}
{{- end }}

{{- end }}
{{- include "gluon.util.merge" (append . "gluon.tests.cypress-runner.tpl") | nindent 0 }}
{{- include "gluon.tests.cypress-netpol.tpl" $values | nindent 0 }}
{{- include "gluon.tests.cypress-pvc.tpl" $values | nindent 0 }}
{{- end }}
{{- end }}
{{- end }}
