{{ define "chart.valuesTable" }}
| Key | Type | Default | Description |
|-----|------|---------|-------------|
{{ range .Values }}| {{ .Key }} | {{ .Type }} | {{ if ne .Type "object" }}{{ .Default | replace "|" "\\|" | default .AutoDefault }}{{ else }}{{ .Default | replace "|" "\\\\|" | default .AutoDefault }}{{ end }} | {{ if ne .Type "object" }}{{ .Description | replace "|" "\\|" | default .AutoDescription }}{{ else }}{{ .Description | replace "|" "\\\\|" | default .AutoDescription }}{{ end }} |
{{ end }}
{{ end }}
